* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    max-width: 90em;
    justify-content: center;
    align-items: center;
}

main > ul{
    display: grid;
    grid-template-columns: repeat(1, minmax(450px, 550px));
    grid-gap: 3em;
    justify-content:center;
    margin-top: 1em;
    margin-bottom: 3em;
}

@media(min-width: 720px) {
    main > ul {	grid-template-columns: repeat(2, minmax(450px, 550px));
	}}

@media(min-width: 1190px) {
	main > ul {	grid-template-columns: repeat(3, minmax(450px, 550px));
	}}

 main > ul > li{
    display: flex;
    /* width: 30em; */
    /* height: 20em; */
    background-color: #050542;
    border-radius: 1rem;
    justify-content: center;
    align-items: center; 
    color: #fff;
}
.team1{
    background-color: #A675F5;
}
.team2{
    background-color: #66E5BF;
}
.team3{
    background-color: #050542;
}

.foto{
    width: 12em;
    height: 10em;
    border-radius: 1em;
    left: 0;
    margin-left: 0.75em;
    /* position: absolute; */
    position: relative;
  
 
}

.team1 ul, .team2 ul, .team3 ul{
    /* margin-left: 13.5em; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
} 

li{
    list-style: none;
    padding: 10px;
    font-size: 1em;
    color: #fff;
}

a{
    text-decoration: none;
    color:#050542;
    background-color: #66e5bf;
    padding: 5px;
    border-radius: 5px;
    
}
li a:hover{
  font-weight: bold;
  text-decoration: underline;

}


  .team2 a{
      background-color: #050542;
      color:#66E5BF;
    }


/* Filter Systeem */
ul.team1 li:not(.team1) {
    display:none;
  }
  
  ul.team2 li:not(.team2) {
    display:none;
  }
  
  ul.team3 li:not(.team3) {
    display:none;
  }
