* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    max-width: 80em;
    /* justify-content: center; */
    /* align-items: center; */
}

main > ul{
    display: grid;
    grid-template-columns: repeat(1, minmax(450px, 550px));
    grid-gap: 5em;
    justify-content: space-around;
    margin-top: 1em
}
main > ul > li{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}


@media(min-width: 720px) {
    main > ul {	grid-template-columns: repeat(2, minmax(450px, 550px));
	}}

@media(min-width: 1190px) {
	main > ul {	grid-template-columns: repeat(3, minmax(450px, 550px));
	}}

 main > ul > li{
    display: flex;
    background-color: #050542;
    width: 30em;
    height: 19em;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    transition: 1.1s;
}

main > ul > li{
    transform: scale(1.1);
    cursor: pointer;

}
.foto{
    width: 12em;
    height: 10em;
    border-radius: 1em;
    left: 0;
    margin-left: 0.75em;
    position: absolute;
}

.team1 ul, .team2 ul, .team3 ul{
    margin-left: 13.5em;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
} 



li{
    list-style: none;
    padding: 10px;
    font-size: 1em;
    color: #66e5bf;
  
}

a{
    text-decoration: none;
    color:cadetblue;
}
li a:hover{
  font-weight: bold;
  text-decoration: underline;

}

