* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main */
main {
    display: flex;
    justify-content: center;
}

main svg {
    width: 50%;
    height: auto;
}

.person {
    transition: all 200ms;
    cursor: pointer;
}

.person:hover {
    transform: translateY(-40px);
}